/*header*/

.sfondo{
    background-color: rgb(19, 169, 214);
    background-image:url("../img/pattern.png");
    background-repeat:repeat-x

}
.dimensione{
    width: 250px;
    padding: 20px;
    
}

/*body*/

.grigio{
    color: grey;
}

.grigio2{
    position: relative; margin-top:-20px;
    color: grey;
}

.margin{
    position: relative; margin-top:0px;
}

.giallo{
    background-color: yellow;
}

.ul{
    position: relative;right:+25px;
}

.tabella{
    border-collapse: collapse;
    height:auto ;
}

.blu{
    background-color: rgb(6, 186, 241);
}

.azzurro{
    background-color: rgb(110, 209, 255);

}

.bianco{
    color: white;
}

.spazio{
    height:250px;
}
