*{
    padding: 0;
    margin: 0;
}

/*header*/

header{
    background-color: rgb(19, 169, 214);
    background-image:url("../img/pattern.png");
    background-size:350px;
}
.logo{
    width: 200px;
    margin-top: 50px;
    margin-left: 10px;
}

.link{
text-decoration: none;
}

/*body*/

.container{
    padding-right: 10px;
    padding-left: 20px;
}
.grigio{
    color: grey;
}

.grigio2{
    position: relative; margin-top:-20px;
    color: grey;
}



.giallo{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    padding-right: 10px;
    padding-left: 20px;
    position: relative;right:-10px;
}

.bak{
    background-size: 50%;
}

.blu{
    background-color: rgb(6, 186, 241);
}

.azzurro{
    background-color: rgb(110, 209, 255);

}

.bianco{
    color: white;
}

.spazio{
    height:250px;
}

.pox{
width: 250px;
height:200px ;
}

.lorem{
    background-image: url(../img/monitor.jpg);
    padding-right: 10px;
    padding-left: 20px;
    position: relative;right:-10px;
}

.lorem2{
    background-image: url(../img/graph.jpg);
    padding-right: 10px;
    padding-left: 20px;
    position: relative;right:-10px;
}
